*
{
    box-sizing: border-box;
}

/*MOBIL*/
@media(max-width: 767px)
{
    body
    {
        margin: 0%;
        
        overflow-x: hidden;
    }
    
    .fp-logo
    {
        float: left;
        
        margin-left: 50px;
        margin-top: 50px;
        
        width: 150px;
        height: 80px;
        background-color: brown;
        
        
        z-index: 0; 
    }
    
    .fp-tekst
    {
        position: absolute;
        
        margin-top: 150px;
        margin-left: 30%;
        
        
        width: 50%;
        height: auto;
        
        background-color: burlywood;
        
        z-index: 0;
    }
    
    .fp-headerBillede
    {
        background-color: aqua;
        
        width: 100%;
        height: 350px;
        
        z-index: -1;
    }
    
    /* -----------------------3 BOXES---------------------------- */
    
    .fp-boxes
    {
        display: flex;
        
        width: 100%;
        height: 100px;
        
        background-color: antiquewhite;
        
        z-index: 0;
    }
    
    .fp-box
    {
        text-align: center;
        
        width: 200px;
        height: auto;
        
        background-color:darkgoldenrod;
        
        margin-top: -5%
    }
    
    .fp-box1
    {
        order: 1;
        
        margin-right: 10%;
        margin-left: 5%;
    }
    
    .fp-box2
    {
        order 2;
        
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .fp-box3
    {
        order 3;
        
    }
    
    /* -----------------------ARROW---------------------------- */
    
    .fp-arrow-section
    {
        margin-top: 10%;
        margin-bottom: 10%;
        
        text-align: center;
        
        width: 100%;
    }
    
    
    .fp-arrow
    {
        width: 100%;
        height: 20px;
        
        background-color: darkgoldenrod;
    }
    
    /* --------------------INFOGRAPTHICC-------------------*/
    
    .fp-infoGraf-section
    {
        width: 100%;
        text-align: center;
    }
    
    .fp-infoGraf-div
    {   
         
    }
    
    .fp-infoGraf
    {
        width: 80%;
        height: auto;
        
        background-color: darkgreen;
    }
    
    /*----------------------DIAGRAM--------------------*/
    
    
    .fp-diagram-section
    {
        margin-top: 10%;
        margin-bottom: 10%;
        
        width: 100%;
        height: 200px;
        
        text-align: center;
    }
    
    .fp-diagram
    {
        width: 40%;
    }
    
    /*----------------------VIDEO--------------------*/
    
    .fp-video-section
    {
        width: 80;
        height: 200px;
        
        text-align: center;
        
        background-color: cornflowerblue;
    }
    
    .fp-video-div
    {
        
    }
    
    .fp-video
    {
        width: 80%;
        height: 200px;
    }
    
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px)
{
    body
    {
        background-color: darkorange;
    }  
}
    
/*NORMAL DESKTOP*/
@media (min-width: 1024px)
{
    body
    {
        background-color: crimson;
    }  
}