*
{
    box-sizing: border-box;
}

/*MINI-MINI-MOBIL*/
@media(max-width: 320px)
{  
    .mobil-section
    {

    }
    
    .mobil-info3
    {
        order: 3;
        
        margin-left: 7%;
        

        
        text-align: center;
        
    }
    
    .mobil-info4
    {
        order: 4;
        
        margin-left: 5%;
        

        
        text-align: center;
    }
}
/*MINI-MOBIL*/
@media(max-width: 400px)
{  
    .mobil-section
    {

    }
    
    .mobil-info3
    {
        order: 3;
        
        margin-left: 7%;
        

        
        text-align: center;
        
    }
    
    .mobil-info4
    {
        order: 4;
        
        margin-left: 5%;
        

        
        text-align: center;
    }
}





/*MOBIL*/

    body
    {
        margin: 0%;
        
        overflow-x: hidden;
    }
    
    .fp-logo
    {
        float: left;
        
        margin-left: 50px;
        margin-top: 50px;
        
        width: 150px;
        height: 80px;
        
        z-index: 0; 
    }
    
    .fp-tekst
    {
        position: absolute;
        
        margin-top: 150px;
        margin-left: 30%;
        
        
        width: 50%;
        height: auto;
        
        background-color: burlywood;
        
        z-index: 0;
    }
    
    .fp-headerBillede
    {
        background-color: forestgreen;
        
        width: 100%;
        height: 400px;
        
        z-index: -1;
    }

    .fp-billede
    {
        display: none;
    }
    
    /* -----------------------3 BOXES---------------------------- */
    
    .fp-boxes
    {
        display: flex;
        
        width: 100%;
        height: 100px;
        
        background-color: antiquewhite;
        
        z-index: 0;
    }
    
    .fp-box
    {
        text-align: center;
        
        width: 200px;
        height: auto;
        
        background-color:darkgoldenrod;
        
        margin-top: -10%;
    }
    
    .fp-box1
    {
        order: 1;
        
        margin-right: 10%;
        margin-left: 5%;
    }
    
    .fp-box2
    {
        order 2;
        
        margin-left: 10%;
        margin-right: 5%;
    }
    
    .fp-box3
    {
        order 3;
        
    }
    
    /* -----------------------ARROW---------------------------- */
    
    .fp-arrow-section
    {
        margin-top: 10%;
        margin-bottom: 10%;
        
        text-align: center;
        
        width: 100%;
    }
    
    
    .fp-arrow
    {
        width: 100%;
        height: 20px;
        
        background-color: darkgoldenrod;
    }
    
    /* --------------------INFOGRAPTHICC-------------------*/
    
    .fp-infoGraf-section
    {
        width: 100%;
        text-align: center;
    }
    
    .fp-infoGraf-div
    {   
         
    }
    
    .fp-infoGraf
    {
        width: 80%;
        height: auto;
    }
    
    /*----------------------DIAGRAM--------------------*/
    
    
    .fp-diagram-section
    {
        margin-top: 10%;
        margin-bottom: 10%;
        
        width: 100%;
        
        text-align: center;
    }
    
    .fp-diagram
    {
        width: 40%;
    }
    
    /*----------------------VIDEO--------------------*/
    
    .fp-video-section
    {
        width: 80;
        height: 200px;
        
        margin-bottom: 10%;
        
        text-align: center;
    }
    
    .fp-video-div
    {
        
    }
    
    .fp-video
    {
        width: 80%;
        height: 200px;
    }
    
    /*------------------------MOBILINFO------------*/
    
    .mobil-section
    {
        text-align: center;  
        
        width: 100%;
        
        margin-bottom: 5%;
    }
    
    .fp-info-boks
    {
        
        position: absolute;
        
        left: 0;
        
        margin-top: -7%;
        
        max-height: 35%;
        

    }
    
    .mobil-wrapper
    {
        height: 230px;
        
        display: flex;
        
        flex-wrap: wrap;

    }
    
    .mobil-info
    {
        width: 40%;
        height: auto;
        
        margin-bottom: 2%;
    
        text-align: center;
    }
    
    .mobil-info1
    {
        order: 1;
        
        margin-left: 7%;
        
        text-align: center;  
    }
    
    .mobil-info2
    {
        order: 2;
        
        margin-left: 5%;
        
        text-align: center;
    }
    
    .mobil-info3
    {
        order: 3;
        
        margin-left: 7%;
        
        text-align: center;
        
    }
    
    .mobil-info4
    {
        order: 4;
        
        margin-left: 5%;
        
        text-align: center;
    }
    
    .mobil-ikon1
    {
        margin-top: 5%;
        
        width: 25%;
    }
    
    .mobil-ikon2
    {
        margin-top: 5%;
        
        width: 15%;
    }
    
    .mobil-ikon3
    {
        margin-top: 5%;
        
        width: 20%;
    }
    
    .mobil-ikon4
    {
        margin-top: 5%;
        
        width: 20%;
    }
    
    .mobil-tekst
    {
        font-size: 10px;

        
        z-index: 3;
    }
    
    /*------------------------------FOOTER-------------------*/
    
    footer
    {
        width: 100%;
    }
    
    .fp-footer-section
    {
        
        width: 100%;
        height: auto;
        
        background-color: #00747e;
    }
    
    .fp-footer-billede
    {
        width: 100%;
        
        height: auto;
    }
    
    .fp-footer-wrapper
    {
        margin-top: -2%;
  
    }
    
    /* TID */
    
    .footer-tid
    {

        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        
    }
    
    .footer-ikon1
    {  
        order: 1;
        
        width: 10%;
        
        margin-left: -10px;
    }
    
    .footer-tekst1
    {
        order: 2;
        
        color: white;
        
        margin-left: 5%;
        
        font-size: 20px;
        
    }
    
    /* MOBIL */
    
    .footer-mobil
    {
        padding-top: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    
    .footer-ikon2
    { 
        margin-left: 60px;
        
        order: 1;
        width: 10%;
    }
    
    .footer-tekst2
    {

        order: 2;
        color: white;
        
        margin-left: 5%;
        
        font-size: 20px;
        
    }
    
    /* PLACERING */
    
    .footer-palcering
    {
        padding-top: 5%;
        
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        
        
    }
    
    .footer-ikon3
    {  
        margin-left: 80px;
        
        order: 1;
        
        width: 10%;
    }
    
    .footer-tekst3
    {
        order: 2;
        
        color: white;
        
        margin-left: 5%;
        
        font-size: 20px;
        
    }
    
    /* LOGO */
    
    .fp-aarhus-logo
    {
        
        width: 50%;
    }
    
    .fp-logo-aarhus
    {
        margin-top: 5%;
        
        text-align: center;
    }
    
/* ----------------------------------EVENT---------------------------*/
    
    .ep-nextEvent
    {
        width: 100%;
        
        height: 200px;
        
        background-color: darkorange;
    }
    
    .ep-textFelt
    {
    }
    
    .ep-tekst
    {
    }
    
/* GALLERI */
    
    
    .ep-galleri
    { 
        width: 100%;
        
        height: auto;
        margin-bottom: 5%;
        
        background-color: firebrick;
    }
    
    .ep-wrapper
    {
        width: 100%;
        
        display: flex;
        
        flex-wrap: wrap;
    }
    
    .ep-ikon
    {
        width: 40%;
        margin-left: 7%;
        margin-top: 5%;
    }    
}

/*TABLET*/
@media (min-width: 768px) and (max-width: 1023px)
{
    body
    {
        background-color: darkorange;
    }  
}
    
/*NORMAL DESKTOP*/
@media (min-width: 1024px)
{
    body
    {
        
        
        
    }
    
    .fp-logo
    {
        width: 26%;
        
        margin-left: 10%;
        
        position: absolute;
    }
    
    .fp-headerBillede
    {
        background-color: transparent;
    }
    
    .fp-billede
    {
        display: block;
        
        position: absolute;
    }
    
    .fp-tekst
    {
        width: 25%;
        
        margin-left: 12%;
        margin-top: 16%;
        
        background-color: transparent;
        
        color: white;
        
        font-size: 20px;
        
        text-align: left;
    }
    
    .fp-boxes
    {
        position: absolute;
        
        background-color: transparent;
        
        margin-top: 15%;
    }
    
    .fp-box
    {    
        width: 23%;
    }
    
    .fp-box1
    {

    }
    
    .fp-box2
    {
        
    }
    
    .fp-box3
    {
        
    }

    .fp-arrow-section
    {
        margin-top: 30%;
    }
    
    /* INFOGRAPFIK */
    
    
    
    /*DIAGRAM OG VIDEO */
    
    .fp-diagram
    {
        float:left;
        
        width: 40%;
        
        margin: 2.5%;
    }
    
    .fp-diaVideo
    {
        float: left;
        
        width: 80%;
        
        margin-left: 10%;
    }
    
    .fp-video
    {
        width: 40%;
        
        height: 350px;
        
        margin: 2.5%;
        
        margin-top: 8%;
        
        border: 30px solid #00747E;
    }
    
    .fp-video-div
    {
        background-color: transparent;
    }
    
    
    /* INFO BOKS */
    
    .fp-info-boks
    {
        display: none;
    }
    
    .mobil-wrapper
    {
        height: 230px;
        
        display: flex;
        
        flex-wrap: wrap;
        
        padding-top: 15%;
    }
    
    .mobil-info
    {
        width: 20%;
        height: auto;
    
        text-align: center;
    }
    
    .mobil-info1
    {
        order: 1;
        
        margin-left: 12%;
        
        text-align: center;  
    }
    
    .mobil-info2
    {
        order: 2;
        
        margin-left: 0%;
        
        text-align: center;
    }
    
    .mobil-info3
    {
        order: 3;
        
        margin-left: 0%;
        
        text-align: center;
        
    }
    
    .mobil-info4
    {
        order: 4;
        
        margin-left: 0%;
        
        text-align: center;
    }
    
    .mobil-ikon1
    {
        margin-top: 5%;
        
        width: 40%;
    }
    
    .mobil-ikon2
    {
        margin-top: 5%;
        
        width: 27%;
    }
    
    .mobil-ikon3
    {
        margin-top: 5%;
        
        width: 37%;
    }
    
    .mobil-ikon4
    {
        margin-top: 5%;
        
        width: 35%;
    }
    
    .mobil-tekst
    {
        font-size: 2vh;

        z-index: 3;
        
        font-weight: 600;
        
        margin-top: 3%;
    }

    

    
    /* FOOTER */
    
    .fp-footer-section
    {
        display: none;
    }
    
    .fp-footer-billede
    {
        margin-bottom: -5%;
    }
    
    
    
    
    
    
    
    
    /* EVENT UNDERSIDER */
    
    .ep-ikon
    {
        width: 18%;
        margin-left: 5%;
        margin-top: 5%;
    }   
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
}